@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Open+Sans&display=swap');

.block {
	float: left;
	padding: 2%;
	text-align: center;
}

.block * {
	display: inline-block;
	margin-left: 5%;
}

.body-text {
	font-family: 'Open Sans', sans-serif;
}

.double-slash {
	color: red;
}

.intro {
	font-family: 'Oswald', sans-serif;
	font-weight: bolder;
	font-size: 600%;
	text-transform: uppercase;
	text-align: center;
	margin-top: 1.5em;
}

.intro-nav {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin-top: 15em;
	text-transform: uppercase;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.site-footer {
	background-color: #ee5454;
}

.site-header {
	background-color: #4c69f6;
}

.sub-intro {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.001em;
	font-weight: bold;
	font-size: 150%;
	display: block;
	text-align: center;
}

.sub-title-text {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: auto;
}

.title-text {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
}

.vspace {
	content: '\a';
	white-space: pre;
}