<section class="ai-section">
    <div class="ai-grid">
        {% for point in site.data.ai %}
            <div class="ai-point">
                <h3 data-pattern="{{ point.pattern }}" style="{{ point.pattern-style | default: '' }}">{{ point.title }}</h3>
                <p>{{ point.text | markdownify  }}</p>
                <svg class="circuit" viewBox="0 0 220 120">
                    <use href="/assets/images/circuit.svg#main-circuit" />
                </svg>
            </div>
        {% endfor %}
    </div>
</section>