<div class="carousel">
  {% for item in include.items %}
    <div class="card">
      {% if item.icon %}
        <i class="{{ item.icon }} icon"></i>
      {% endif %}
      {% if item.text %}
        <p>{{ item.text | markdownify }}</p>
      {% endif %}
      {% if item.code %}
        <pre><code>{{ item.code | markdownify }}</code></pre>
      {% endif %}
    </div>
  {% endfor %}
  <div class="carousel-nav">
    <button aria-label="Previous"><i class="fas fa-chevron-left"></i></button>
    <button aria-label="Next"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>